<p style="color: green"><%= notice %></p>

<h1>Quotes</h1>

<%#= link_to "New quote", new_quote_path, class: "btn btn--primary", data: { turbo: false } %>
<%= link_to "New quote", new_quote_path, class: "btn btn--primary"%>

<div id="quotes">
  <% @quotes.each do |quote| %>
    <%= render quote %>
    <p>
      <%= link_to "Show this quote", quote %>
    </p>
  <% end %>
</div>

